body {
	color: #e5e6e9;
	/* font-family: "Gill Sans", sans-serif; */
	font-family: "Courier New";
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-color: #85898f;
	font-family: "Courier New";
	font-weight: bold;
}

th,
td {
	border: 2px solid #85898f;
	text-align: center;
	padding: 2px 5px;
}

.term-column {
	color: #b5bac1;
	border-width: 0px;
}

.output-true {
	background: #45bd4f;
	/* color: #85898f; */
}

.output-false {
	background: #ff504a;
}

.flex-container-hor {
	display: flex;
	/* align-content: flex-start; */
	/* flex-flow: row nowrap; */
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.table-container {
	display: flex;
	align-content: flex-start;
	flex-flow: row wrap;
	justify-content: space-between;
}

.flex-container-vert {
	display: flex;
	/* align-content: flex-start; */
	/* flex-flow: row nowrap; */
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.flex-container-vert > div {
	margin: 10px;
}

.input {
	width: 200px;
	border: solid;
	padding-left: 5px;
	padding-right: 5px;
	display: inline-block;
	border-color: #85898f;
	/* font-family: "Courier New"; */
}

.submit_button {
	width: 70px;
	height: 20px;
	background: transparent;
	border: 2px solid #e5e6e9;
	outline: none;
	border-radius: 4px;
	cursor: pointer;
	color: #e5e6e9;
	font-family: "Courier New";
	font-weight: bold;
	transition: 0.3s;
}

.go_button {
	width: 25px;
	height: 25px;
	background: transparent;
	border: 2px solid #e5e6e9;
	outline: none;
	border-radius: 4px;
	cursor: pointer;
	color: #e5e6e9;
	font-family: "Courier New";
	font-weight: bold;
	transition: 0.3s;
}

.submit_button:hover {
	background: #e5e6e9;
	color: #85898f;
}

.go_button:hover {
	background: #e5e6e9;
	color: #85898f;
}

.minimised_field {
	display: flex;
	margin: 0px;
	align-content: center;
	justify-content: space-between;
}

.top-bar {
	display: flex;
	width: 100%;
	justify-content: space-around;
}

.input:empty {
	height: 20px;
}

/* #expression_input:empty::before {
	content: "a and (not b or c)";
	color: gray;
	display: inline-block;
}

#vars_input:empty::before {
	content: "a,b,c";
	color: gray;
	display: inline-block;
}

#minterms_input:empty::before {
	content: "3,6,7";
	color: gray;
	display: inline-block;
}

#dontcare_input:empty::before {
	content: "1,4";
	color: gray;
	display: inline-block;
} */
