body {
	color: #e5e6e9;
	/* font-family: "Gill Sans", sans-serif; */
	font-family: "Courier New";
	font-weight: bold;
	margin: 0px;
	padding: 0px;
}

.truth_table {
	display: flex;
	margin: auto;
	vertical-align: middle;
	margin-top: 10px;
}

.left-margin {
	float: right;
	margin-bottom: 10px;
}

#expression_input {
	width: 325px;
}

.top_bar {
	display: flex;
	width: 100%;
	justify-content: space-between;
	height: 50px;
	background-color: #2a2a2a;
	margin-bottom: 5px;
}

.border {
	border: 2px solid #e5e6e9;
	border-radius: 6px;
	margin: 10px;
	/* box-shadow: 0 -15px 0 #f7f7f7; */
}

.margin {
	margin: 10px;
}

.info_button {
	cursor: pointer;
}

.icon_container {
	display: flex;
	margin: auto;
	align-items: center;
	vertical-align: middle;
}

.top_container {
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 50px;
	display: flex;
	justify-content: space-between;
	width: 100px;
}

.logo_container {
	display: flex;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 50px;
	justify-content: left;
	align-items: start;
	vertical-align: bottom;
	text-align: end;
}

table {
	border-collapse: collapse;
	border-color: #85898f;
	font-family: "Courier New";
	font-weight: bold;
}

th,
td {
	border: 2px solid #85898f;
	text-align: center;
	padding: 2px 5px;
}

.term-column {
	color: #b5bac1;
	border-width: 0px;
}

.output-true {
	background: #45bd4f;
	/* color: #85898f; */
}

.output-false {
	background: #ff504a;
}

.flex-container-hor {
	display: flex;
	/* align-content: flex-start; */
	/* flex-flow: row nowrap; */
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.table-container {
	display: flex;
	align-content: start;
	flex-flow: row wrap;
	justify-content: space-between;
}

.flex-container-vert {
	display: flex;
	/* align-content: flex-start; */
	/* flex-flow: row nowrap; */
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
}

/* .flex-container-vert > div {
	margin: 10px;
} */

.input {
	width: 250px;
	border: solid;
	padding-left: 5px;
	padding-right: 5px;
	display: inline-block;
	border-color: #85898f;
	/* font-family: "Courier New"; */
	font-weight: normal;
}
.right {
	margin-left: auto;
}

.info_box {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.submit_button {
	width: 70px;
	height: 20px;
	background: transparent;
	border: 2px solid #e5e6e9;
	outline: none;
	border-radius: 4px;
	cursor: pointer;
	color: #e5e6e9;
	font-family: "Courier New";
	font-weight: bold;
	transition: 0.3s;
}

.divider {
	width: 100%;
}

.submit_label {
	display: inline-block;
	width: 65px;
	height: 15px;
	text-align: center;
	font-size: small;
	vertical-align: middle;
	padding: 0px;
	/* margin-top: 5px; */
}

.go_button {
	width: 25px;
	height: 25px;
	background: transparent;
	border: 2px solid #e5e6e9;
	outline: none;
	border-radius: 4px;
	cursor: pointer;
	color: #e5e6e9;
	font-family: "Courier New";
	font-weight: bold;
	transition: 0.3s;
}

.submit_button:hover {
	background: #e5e6e9;
	color: #85898f;
}

.go_button:hover {
	background: #e5e6e9;
	color: #85898f;
}

.minimised_field {
	display: flex;
	margin: 0px;
	align-content: center;
	justify-content: flex-start;
}

.input:empty {
	height: 20px;
}

.tooltip {
	position: relative;
	display: inline-block;
	/* left: 50%; */
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 210px;
	background-color: #45bd4f;
	/* border: solid 2px white; */
	color: #fff;
	text-align: left;
	border-radius: 6px;
	padding: 5px;
	font-size: 13px;
	left: 50%;
	top: 100%;
	font-weight: normal;

	white-space: pre-line;

	/* Position the tooltip */
	position: absolute;
	z-index: 1;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 210px;
	background-color: #45bd4f;
	color: #fff;
	text-align: left;
	border-radius: 6px;
	padding: 5px;
	font-size: 13px;
	left: 50%;

	white-space: pre-line;

	position: absolute;
	/* z-index: 1; */
}

.tooltiptext.top {
	top: -450%;
}

.tooltiptext.bottom {
	top: 100%;
}

.tooltiptext.left {
	left: -210px;
}

.example_text {
	/* align-self: center; */
	text-align: center;
}

input[type="file"] {
	display: none;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}

.customTooltip * {
	color: black;
	font-size: 18px;
	font-weight: normal;
	font-family: "Courier New", Courier, monospace;
}

.customTooltip .introjs-tooltip-title {
	/* color: #45bd4f; */
	color: black;
	font-weight: bold;
}

.error_title {
	display: inline-block;
	font-weight: bold;
}

.error_container {
	margin: 10px;
	width: 300px;
	background-color: #ff504a;
	color: #fff;
	text-align: left;
	border-radius: 6px;
	padding: 5px;
	font-size: 13px;
	left: 50%;
	font-weight: normal;
}

.function_label {
	margin-top: 5px;
	font-weight: normal;
}

/* #expression_input:empty::before {
	content: "a and (not b or c)";
	color: gray;
	display: inline-block;
}

#vars_input:empty::before {
	content: "a,b,c";
	color: gray;
	display: inline-block;
}

#minterms_input:empty::before {
	content: "3,6,7";
	color: gray;
	display: inline-block;
}
*/
#dontcare_input:empty::before {
	content: "optional";
	color: gray;
	display: inline-block;
}
